[2019-06-11 14:41] LorenzoOpWerk opened #1 "Timeline"
Hi, is there a timeline for this ?

[2019-06-22 16:03] hsluoyz commented on #1
Hi @LorenzoOpWerk , we have updated the latest progress in the README: https://github.com/casbin/casbin.js

[2019-11-17 14:00] nodece commented on #1
@LorenzoOpWerk Hi, Try https://github.com/casbin/node-casbin.

[2020-03-22 08:55] hsluoyz opened #2 "Wrap a front-end library to control permissions for web UI elements like buttons"
Node-Casbin is only for backend Node.js applications. It can run on frontend but some functionalities like file read/write, DB access will certainly be disabled. So we need a new library for front-end only. It should be:

1. Can communicate with backend servers (e.g, via Node-Casbin), sync policies into browser.
2. Enforce the policy locally inside a browser.
3. Add some friendly functions especia

[2020-03-25 05:08] Ishaan28malik commented on #2
@hsluoyz I think we can go ahead with React JS here for the front-end
[code]

[2020-03-25 15:25] hsluoyz commented on #2
@Ishaan28malik yes, that example is exactly what I mean. Also a frontend library like CASL is what we want.

1. CASL has supported frameworks like React, Vue via binding. We also want to do similar.
2. But CASL's backend is very weak. They only support MongoDB. But we have Casbin as a very strong backend and we support all kinds of DBs.
3. I think our first step is to make a Casbin-compatible vers

[2020-03-25 17:14] Ishaan28malik commented on #2
@hsluoyz this sounds good, So how are we planning to start with it?
I can help you out with the front-end part.

[2020-03-30 05:22] ShaswatJBabhulgaonkar commented on #2
Here we can use role-based access control RBAC which is an approach of restricting system access to authorized users. Considering that we have a login mechanism, we can get the details about all the button ids to associate them with user and call API on the first login and display only if API returns True.

[2020-04-02 04:25] hsluoyz commented on #2
See: https://github.com/stalniy/casl

[2020-04-02 05:38] Ishaan28malik commented on #2
@hsluoyz I already mentioned this above and let me know how do you want to proceed in this further? I am ready to work upon this.

[2020-05-26 16:14] hsluoyz commented on #2
First we will do similar things as: https://github.com/stalniy/casl but we will use cookie to communicate between client and server. I think we are about to get started on casbin.js @kingiw

[2020-06-02 12:10] hsluoyz commented on #2
@kingiw let's try the idea to use cookie to get permissions for a user. You can create PR in this repo.

[2020-06-02 19:22] kingiw commented on #2
@hsluoyz Got it. I am now investigating the implementation of some other similar projects and designing the overall architecture of our Casbin.js. Maybe I'll have a discussion with you and other mentors later this week.

[2020-06-28 15:39] hsluoyz commented on #2
@kingiw it looks like that we already have some code base now. I Hope to see a minimized usable version soon, it means:

1. It has a public API and the public API is documented in casbin.org
2. I will act like a normal user of Casbin, build my own website and try to use your casbin.js product based on the API docs. Actually the website will probably be our forum: https://github.com/casbin/casbin-f

[2020-06-29 06:22] kingiw commented on #2
@hsluoyz So you means we are going to design the same Enforcer API as the other Casbin frameworks do?

IMO, Casbin.js is used to manipulate which objects **one** user can access at a front page, that's because:
1. At the frontend, a website serves for one specific user.
2. It's not proper to have all the policies (including those not related to the frontend user) at the frontend due to potential s

[2020-06-29 06:51] hsluoyz commented on #2
No. Actually I want another CASL, which is well integrated into Casbin backend ecosystem. It should not be the Management API for Casbin backend. Maybe some of RBAC API are OK to reuse. So you can get some idea from CASL API and think about how to integrate it with Casbin backend.

[2020-06-29 07:14] kingiw commented on #2
CASL is similar with Node-Casbin instead of Casbin.js. The core of CASL is to set the access rules and check the permissions. To be specific, Casbin.js should provide some functionalities that the CASL support at some popular frontend library. All the management work is left for the backend server.

For Casbin.js, model configuration is transparent. What Casbin.js concerns about are the actions an

[2020-08-15 03:32] hsluoyz commented on #2
@Ishaan28malik we had made some progress on this project, as you can see in the commits. Are you still willing to contribute it? Like fixing this repo or making a React or Vue wrapper for this library?

[2020-08-15 03:34] hsluoyz opened #8 "Add tests and the badges"
Ideally we want to have all the badges that Node-Casbin has: https://github.com/casbin/node-casbin#node-casbin

![image](https://user-images.githubusercontent.com/3787410/90304509-4684a380-deeb-11ea-92a0-3fe68498f7df.png)

[2020-08-15 03:35] hsluoyz commented on #8
@kingiw can you take this issue?

[2020-08-15 15:19] Ishaan28malik commented on #2
@hsluoyz sure I would love to contribute and work on this.

[2020-08-26 10:48] blestab opened #10 "Link to react app is broken"
The link to the example react app appears to be broken.

![image](https://user-images.githubusercontent.com/5468546/91294872-7741c400-e79a-11ea-99ea-0a623ed56142.png)

[2020-08-26 11:23] hsluoyz commented on #10
@kingiw

[2020-08-26 16:38] kingiw commented on #10
Sorry for the broken link. The example is moved to https://github.com/casbin-js/examples.

[2020-08-26 16:39] hsluoyz commented on #10
@kingiw please make a PR or commit to fix it.

[2020-08-26 18:48] kingiw commented on #10
https://github.com/casbin/casbin-website/pull/124

[2020-08-26 22:02] blestab commented on #10
That's alright, thanks for the quick response.

[2020-08-27 00:31] hsluoyz commented on #10
@kingiw and this repo's README also needs a fix: https://github.com/casbin/casbin.js#example

![image](https://user-images.githubusercontent.com/3787410/91369986-be35c500-e83f-11ea-946a-c84ad55b5341.png)

[2020-08-31 11:43] kingiw opened #12 "Casbin.js Development Report"
Casbin.js is one of GSoC 2020 projects for Casbin community. See the  [Main Page](https://summerofcode.withgoogle.com/dashboard/project/5147569409228800/overview/) for more details.
Refer to  [Casbin.js documentation](https://casbin.org/docs/en/frontend) for usage instructions and star our [origin repo](https://github.com/casbin/casbin.js/).

This report illustrates Casbin.js features and our curr

[2020-09-01 01:08] hsluoyz commented on #12
@kingiw you did a great job in this summer and thanks for contributing to Casbin. Congrats on finishing the GSoC!

[2020-09-01 01:10] hsluoyz commented on #10
Fixed by: https://github.com/casbin/casbin.js/pull/11

[2020-09-01 01:10] #10 closed

[2020-09-01 01:14] hsluoyz commented on #8
@kingiw any update?

[2020-09-01 07:44] kingiw commented on #8
I will do it these days.

[2020-09-03 16:17] jasonmueller opened #16 "casbinJsGetPermissionForUser returns policy rules not applicable for subject"
When calling `casbinJsGetPermissionForUser`, all policy rules appear to be returned.  Based on reading the code, my understanding is that this is not intended--rather, only rules applicable to the subject should be returned.

Can you clarify the _expected_ behavior or whether I'm just doing it wrong?  Here are test results:

[code]

Expected result:

[code]

Actual result (note the `alice` rule):

[2020-09-04 02:39] kingiw commented on #8
https://github.com/casbin/casbin.js/pull/13 fix this. Close.

[2020-09-04 02:39] #8 closed

[2020-09-17 15:19] dschmidt opened #31 "CasbinJsGetPermissionForUser is too limited"
Hey everyone,

I'm checking out casbin because I'm considering to use it for a project. What especially caught my interest, is the new casbin.js because no other go authorization framework seems to provide anything similar. While I was playing around with it, I noticed limitations of `CasbinJsGetPermissionForUser`, which I would like to discuss:

(I hope this is the right repository to discuss, ot

[2020-09-25 10:48] ravikumarjs-foyernet opened #14 "Please fix this error"
I currently working on react typescript application and using casbin.js package, but when I started to react server I getting the following error. Please Help Me

Module parse failed: Unexpected token (158:32)
File was processed with these loaders:
 * ./node_modules/babel-loader/lib/index.js
You may need an additional loader to handle the result of these loaders.
|   async buildIncrementalRoleLink

[2020-09-25 13:05] hsluoyz commented on #14
It is a Node-Casbin issue: https://github.com/casbin/node-casbin/issues/197  not here.

[2020-09-25 13:05] #14 closed

[2020-10-07 14:07] peterzernia opened #15 "Support Key Matching"
I'd like to use the keymatching I use on my backend on the frontend. An example policy using keyMatch would looks like
[code]
with a corresponding model.conf
[code]

The returned permissions from the casbin backend for admin looks like
[code]

Then on the frontend using keyMatch would allow
[code]

[2020-10-07 14:47] hsluoyz commented on #15
@kingiw

[2020-10-25 14:01] #16 closed

[2020-10-30 11:19] Manoj-Bharti commented on #15
Hi, Any update on this?

I would like to use https://casbin.org/docs/en/abac#scaling-the-model-for-complex-and-large-number-of-abac-rules in my frontend app.

[2020-10-30 11:22] kingiw commented on #15
@Manoj-Bharti Hi, currently Casbin.js doesn't support ABAC model. If you would like to use ABAC model at the frontend, we would like to raise this feature asap.

BTW, which language of Casbin do you use at your server side?

[2020-10-30 11:34] Manoj-Bharti commented on #15
@kingiw Thanks for the quick response.

We are evaluating casbin currently so it's not in use. We have multiple backend applications where we want to take casbin in use in combination with AWS Cognito. Most of applications are in Node but we have some legacy applications which are written in golang and php.

[2020-10-30 11:37] kingiw commented on #15
@Manoj-Bharti Casbin.js requires some server-side utilities. Now such server-side utilities are available only in Node-Casbin environment.

[2020-10-30 11:42] Manoj-Bharti commented on #15
@kingiw ok so currently it's not possible, Do we have some kind of visibility when ABAC model will be supported by Casbin.js?

I was reading this https://github.com/casbin/casbin.js/issues/12 and here it says
`Casbin.js is now perfectly support diverse access control models that Casbin originally supports, including the ACL, RBAC and ABAC.` which is why i thought it should be working.

[2020-10-30 11:47] kingiw commented on #15
@Manoj-Bharti It was a very naive implementation for support ABAC. The implementation is to pass the configuration and all related policies to the frontend.

We are now trying to optimize the implementation and let Casbin.js support all models in Casbin as well as guarantee not leaking so many info (like policies details) to the frontend.

[2020-10-30 11:57] Manoj-Bharti commented on #15
@kingiw Ok, Thanks for the info. It would be nice to know if we have some timeline for this.

[2020-11-16 12:23] r3code opened #17 "Hide casbin nature in request to endpoint"
Now we see that the casbin.js asks the server explicitly
`GET /permissions/endpoint?casbin_subject=user@mail.com`
it allows the attacker to exploit casbin issues to break into the system.

I propose to rename the `casbin_subject` to `subject`

[2020-11-16 16:42] hsluoyz commented on #17
@kingiw

[2020-11-17 03:21] kingiw commented on #17
Yep I agree. Thanks for you PR

[2020-11-17 03:22] #17 closed

[2020-11-17 12:19] elmankross opened #19 "Implements CasbinJsGetPermissionForUser for .Net"
Hello. According to my comment from [docs ](https://casbin.org/docs/en/frontend#comment-5146439045) it really will be helpful to implements _CasbinJsGetPermissionForUser_ for .NET because of needs to use dynamic auth on the frontend.
Idk it should be a derived library or a part of the existing one, but I think the first variant is better.

Is there contributors can do this?
@hsluoyz

[2020-11-17 12:23] hsluoyz commented on #19
@elmankross are you willing to make a PR? If yes, we welcome your contribution.

If no, please send this issue to the Casbin.NET repo: https://github.com/casbin/Casbin.NET , so our .NET guys will take the ticket there :)

[2020-11-17 12:58] elmankross commented on #19
Ok, I got it. Just will go to .NET guys to figure out what we can do with it :D

[2020-11-18 12:36] bgolla opened #20 "Issue resolving casbin"
Error on updating latest version(`0.1.0`) of casbin.js
https://github.com/casbin-js/examples/tree/master/react
![image](https://user-images.githubusercontent.com/8544158/99531304-89fa1c80-29c8-11eb-9c99-9352a0f062bd.png)

`package.json`
[code]

[2020-11-18 14:09] nodece commented on #20
@bgolla could you try the add `casbin` to your project?

[2020-11-18 14:27] hsluoyz commented on #20
@kingiw

[2020-11-19 08:59] bgolla commented on #20
@nodece I tried that as well.

[2020-11-19 08:59] bgolla commented on #20
@kingiw I tried that as well.

[2020-11-19 14:14] nodece commented on #20
@bgolla If you are using webpack, you can add below configuration to your `webpack.config.js`.
[code]

[2020-12-19 10:25] hsluoyz commented on #19
Replaced by: https://github.com/casbin/Casbin.NET/issues/105

[2020-12-19 10:25] #19 closed

[2020-12-19 10:39] hsluoyz commented on #1
@LorenzoOpWerk we have finished the 1st version of Casbin.js, see: https://casbin.org/docs/en/frontend

[2020-12-19 10:39] #1 closed

[2021-01-05 09:44] kaustubhai opened #21 "Dark mode for the website"
### Feature Request
As someone who uses dark mode everywhere possible, it really sets me back to visit a website with no dark mode. Also its really in the trend now so what do you think?

[2021-01-05 11:01] hsluoyz commented on #21
@kaustubhai which website do you mean?

[2021-01-05 13:07] kaustubhai commented on #21
I guess the complete casbin website, including docs

[2021-01-14 20:16] fgblomqvist opened #23 "Examples are incorrect/misguiding"
The node-casbin enforcer's `enforce` is async, yet you call it as if it was sync in both the readme of this project and the [example project linked](https://github.com/casbin-js/examples/blob/master/react/src/CasbinDemo.js).

It is not trivial to use an async enforcer together with React rendering, probably makes sense to not misguide users.

[2021-01-14 20:16] fgblomqvist opened #24 "Examples are incorrect/misguiding"
The node-casbin enforcer's `enforce` is async, yet you call it as if it was sync in both the readme of this project and the [example project linked](https://github.com/casbin-js/examples/blob/master/react/src/CasbinDemo.js).

It is not trivial to use an async enforcer together with React rendering, probably makes sense to not make it look simpler than it is.

[2021-01-15 02:31] hsluoyz commented on #23
@kingiw

[2021-01-15 14:36] hsluoyz commented on #23
@fgblomqvist do you think it works if we had a wrapper called `SyncEnforcer` in: https://github.com/casbin/node-casbin to wrap all functions of `Enforcer` into the Sync API?

[2021-01-15 16:05] hsluoyz commented on #24
@fgblomqvist sorry, moved back

[2021-01-27 08:06] eternaltreesnow opened #25 "Plan to support domains?"
"[Domain tenant](https://casbin.org/docs/en/rbac-with-domains)" is useful in multi-group scenario. However, the API does not support multi-tenant at this stage, like lack of grouping policy, "can" function doesn't support "domain" param.
So I wonder whether the project plans to increase support for domain, or needs some PR support？

This is a demo for multi-tenant domain.
[code]

[2021-01-27 13:10] hsluoyz commented on #25
@eternaltreesnow are you using Casbin.js (this repo) or Node-Casbin (https://github.com/casbin/node-casbin) ?

[2021-01-27 14:50] eternaltreesnow commented on #25
Yeah, I tried Casbin.js but found out that it doesn't support domain. This demo based on Node-Casbin is just to show a usage of domain.

[2021-01-27 15:06] hsluoyz commented on #25
Can you use https://github.com/casbin/node-casbin ? It also support browser.

[2021-01-30 13:09] #20 closed

[2021-02-10 15:21] #12 closed

[2021-02-10 15:23] hsluoyz opened #26 "Make a React authz middleware for Casbin.js"
See:

- https://github.com/casbin/casbin.js/issues/2
- https://github.com/casbin/casbin.js/issues/12

Finally, this middleware will be tested and used on our own forum: https://github.com/casbin/casbin-forum

[2021-02-10 15:24] #2 closed

[2021-02-10 15:24] hsluoyz opened #27 "Make a Vue authz middleware for Casbin.js"
See:

- https://github.com/casbin/casbin.js/issues/2
- https://github.com/casbin/casbin.js/issues/12

[2021-02-10 15:37] hsluoyz commented on #24
@fgblomqvist `enforceSync()` is added to Node-Casbin: https://github.com/casbin/node-casbin/pull/230 , closed here.

[2021-02-10 15:37] #24 closed

[2021-02-10 17:41] Ishaan28malik commented on #26
@hsluoyz I would like to work on this but I haven't worked on building a middleware previously using **JS** or any language, can you give me a hint or guide me ? maybe I can work and complete this then.

[2021-02-15 15:31] kavindapelpola opened #28 "Casbin.js 0.1.0 with react-scripts 4.0.2 conflict"
Hi, when I add Casbin.js to my react project I get the error below. To use Casbin.js I need to downgrade Casbin.js to a version that is not tied to babel-loader 8.2.2, but this cannot be the long term solution. Can you advise how to proceed?

The react-scripts package provided by Create React App requires a dependency:

  "babel-loader": "8.1.0"

Don't try to install it manually: your package mana

[2021-02-15 15:45] hsluoyz commented on #28
@17bit

[2021-02-15 16:57] 17bit commented on #28
fixed https://github.com/casbin/casbin.js/pull/30

[2021-02-15 17:08] 17bit commented on #28
Hi.  ` Try to use yarn add babel-loader@8.1.0`

[2021-03-03 13:52] Zxilly commented on #27
I'd like to work on this.

[2021-03-04 09:03] Zxilly commented on #31
The frontend should be always considered as unsafe, maybe send the whole model not a good idea. This  provides additional information and may cause potential security vulnerability.

[2021-03-07 11:27] hsluoyz commented on #27
Done: https://github.com/casbin-js/vue-authz

[2021-03-07 11:27] #27 closed

[2021-03-08 12:12] Kininaru opened #34 "The installation commands in the docs do not work properly"
In [this](https://casbin.org/docs/en/frontend) doc we told users to install Casbin.js via
[code]
But node reported an error:
[code]
I used the command
[code]
then the code worked properly.
So I wonder if this is a bug, or just a mistake in our docs.

[2021-03-08 12:14] Kininaru commented on #34
[code]
and
[code]
These 2 commands are both indispensable.

[2021-03-09 05:29] Zxilly commented on #34
working on this

[2021-03-09 08:40] #34 closed

[2021-03-09 13:21] remware opened #37 "dependency with axios should be updated"
Using yarn install in react example (cabinjs ^0.1.0)
I get this warning when installing for first time
casbin.js > axios@0.19.2: Critical security vulnerability fixed in v0.21.1.
any plans for updating the dependency?

[2021-03-09 13:30] hsluoyz commented on #37
@Zxilly

[2021-03-09 14:03] Zxilly commented on #37
working on this

[2021-03-09 14:07] Zxilly commented on #37
https://github.com/casbin/casbin.js/blob/7b8763a74a3f0c64d8be0b6c53c8592d7c4674d5/package.json#L41-L48
axios is `^0.21.1`, and seems this is not a problem
@remware Could you please help to reproduce?

In fact, casbin.js change the api in the `v0.1.0`, but example did not update.
I recommend you read the source directly

[2021-03-09 14:15] hsluoyz commented on #37
@kingiw can you add the casbin organization: https://www.npmjs.com/org/casbin to the owners of the package: https://www.npmjs.com/package/casbin.js ? Current it seems to be under your personal account.

[2021-03-09 15:07] remware commented on #37
I was reading the example from here: https://casbin.org/docs/en/frontend
then I modified a bit for my react app using scripts 4.0.3,
`import { Authorizer } from 'casbin.js'
....
 this.auth = new Authorizer(
            'auto' ,
            { endpoint: config.GoEndpoint }
        );
...
  this.auth.setUser("Tom");
....
  result = this.auth.can("read", "data1");
....
`

but somehow the npm package i

[2021-03-09 15:11] Zxilly commented on #37
@remware Yes, this is also a fixed bug by https://github.com/casbin/casbin.js/commit/0aeba6e5c9b3b9e89709c94d155129661a69bf77 but not published.
We will release the correct version ASAP.

[2021-03-10 07:01] Zxilly commented on #37
@remware A new version v0.1.1 with fixes have been released at https://www.npmjs.com/package/casbin.js/v/0.1.1
Please let me know if you have any other question.

[2021-03-10 08:37] #37 closed

[2021-03-10 08:39] remware commented on #37
Thanks, all is up and running. Appreciated it.

[2021-03-10 20:45] ThomasLohmann commented on #2
@hsluoyz @Ishaan28malik any plans to support Angular? It would be really great!

Best regards,
Thomas

[2021-03-11 01:38] hsluoyz commented on #2
@ThomasLohmann can you create a new GitHub issue so we can track its progress ? Thanks!

[2021-03-11 14:44] hsluoyz commented on #28
@Zxilly can you help fix this?

[2021-03-11 15:20] #28 closed

[2021-03-11 15:21] hsluoyz commented on #28
@Zxilly plz make a new release.

[2021-03-11 16:51] ThomasLohmann opened #41 "Angular support"
Hi everyone,

it would be great if you can also support Angular.

Best regards,
Thomas

[2021-03-12 01:41] hsluoyz commented on #41
@Zxilly

[2021-03-12 01:43] hsluoyz commented on #41
@ThomasLohmann created: https://github.com/casbin-js/angular-authz

[2021-03-12 03:42] Zxilly commented on #41
I never used Angular, I can't do this.

[2021-03-12 04:51] Zxilly commented on #28
@hsluoyz released
https://www.npmjs.com/package/casbin.js/v/0.1.2

[2021-03-12 04:56] hsluoyz commented on #28
@Zxilly and GitHub releases, actually I found this repo doesn't have even the previous GitHub releases. @Zxilly can you add them too?

[2021-03-12 04:59] Zxilly commented on #28
@hsluoyz I can add v0.1.2 and v0.0.1, but i didn't know which commit the previous releases should pinned to.

[2021-03-12 05:04] Zxilly commented on #28
@hsluoyz I added all i can find, but I really didn't which commit ref to `v0.0.1`

[2021-03-12 05:05] hsluoyz commented on #28
@Zxilly I have added them: https://github.com/casbin/casbin.js/releases

[2021-03-12 11:34] ThomasLohmann commented on #41
@hsluoyz I'm quite busy with our own project at the moment. So unfortunately I'm not able to contribute currently.

[2021-03-12 13:54] Zxilly commented on #26
ref to: https://github.com/casbin-js/react-authz/pull/1

[2021-03-12 13:54] #26 closed

[2021-03-15 01:33] hsluoyz opened #43 "We need unit testing for this repo"
Our latest v0.1.2 has been reported to have bugs when importing:

![image](https://user-images.githubusercontent.com/3787410/111092590-6f4c4480-8571-11eb-9862-84d03b4e02c0.png)

We should stop such things happening again.

[2021-03-15 04:56] Zxilly commented on #43
Now we have unittests for code itself. But didn't have tests for release.
I will add a CI later.

[2021-03-15 05:53] hsluoyz opened #44 "Add semantic-release"

[2021-03-16 15:43] Zxilly commented on #43
We already have unit tests under https://github.com/casbin/casbin.js/tree/master/src/__test__.

[2021-03-16 15:43] #43 closed

[2021-03-16 15:45] hsluoyz commented on #43
@Zxilly

First, your link is 404:

![image](https://user-images.githubusercontent.com/3787410/111338063-96aa2b00-86b1-11eb-8ccc-ff8e29632f9c.png)

Second, plz mention the PR or commit (which shouldn't happen because people are not supposed to directly commit to master) that add the unit tests, instead of the unit test file itself.

[2021-03-16 15:49] Zxilly commented on #43
@hsluoyz There is a useless `.` after the link, I have removed it.
Unit test was added in a much earlier version https://github.com/casbin/casbin.js/commit/3ec7aead69a7e9ec0b24d00b8835ad8a05406dbc

[2021-03-16 15:51] hsluoyz commented on #43
OK, [link](https://github.com/casbin/casbin.js/tree/master/src/__test__)

[2021-03-16 16:16] #44 closed

[2021-03-27 04:07] ajayaallen commented on #41
I want to contribute, How can I

[2021-04-03 02:09] hsluoyz opened #52 "Embed Node-Casbin directly into Casbin.js"
Currently, Casbin.js is a self-made authorization mechanism called Authorizer, which is much different with Casbin's enforcer.

Now we decided to remove all those stuff and let Casbin.js just be a wrapper of [Node-Casbin](https://github.com/casbin/node-casbin). Node-Casbin can run both on browser and Node.js. For browser use, it has been used in Casbin online editor: https://github.com/casbin/casb

[2021-04-05 16:07] Zxilly commented on #41
@ajayaallen If you complete an early version, you can send a PR to https://github.com/casbin-js/angular-authz

[2021-04-05 16:31] hsluoyz commented on #41
Moved to: https://github.com/casbin-js/angular-authz/issues/1

[2021-04-05 16:31] #41 closed

[2021-04-21 11:17] arigon opened #53 "Authorization header for auto mode"
Hi

would it be possible to add an authorization header (e.g. Bearer token) for the auto mode and therefore having the user attribute optional?

Alex

[2021-04-21 15:25] GhostyJade opened #54 "Support for roles in auto mode"
I'm trying to integrate casbin.js for a ReactJS app that needs to have roles but it seems that this library can't support roles. (I've tested with permissions and it works)

I've tried using golang (using CasbinJsGetPermissionForUser to retrieve data) and C# (with CasbinJsGetPermissionForUser defined as a custom function) as backend to test if was my implementation issue or not.

I've used the def

[2021-04-21 16:40] hsluoyz commented on #54
@Zxilly

[2021-04-22 03:01] Zxilly commented on #54
You can directly use node-casbin.

[2021-04-22 03:02] Zxilly commented on #53
I will add a custom header option. Is this what you need?

[2021-04-22 06:32] Zxilly commented on #52
After gzip, node-casbin still need more than 400kb space, which is too large for the frontend.
If we did want to implement this, we should make a separate light-weight branch on node-casbin.

[2021-04-22 06:49] arigon commented on #53
Yes. Thanks

[2021-04-22 07:33] GhostyJade commented on #54
Where? How?

I mean
I'm making a frontend and using your Authorizer class to manage permissions. If I have to use node-casbin it means that I have to do the "can/cannot" methods by myself, right?

Or is a backend issue? (Even if I've tested with your golang library and it doesn't work)
Or should I have to use Node as my backend?

[2021-04-22 07:33] GhostyJade commented on #54
Where? How?

I mean
I'm making a frontend and using your Authorizer class to manage permissions. If I have to use node-casbin it means that I have to do the "can/cannot" methods by myself, right?

Or is a backend issue? (Even if I've tested with your golang library and it doesn't work)
Or should I have to use Node as my backend?

[2021-04-22 08:05] Zxilly commented on #54
@GhostyJade Node-Casbin is also available for frontend project.
As for now, casbin.js is just a wrapper for node-casbin. You can use enforce() API instead.
It's possible to implement what you asked for. But you may need to wait for some time.

[2021-04-22 08:08] GhostyJade commented on #54
Thanks for the additional information, I'm gonna try it now.

[2021-04-22 12:59] #53 closed

[2021-04-23 15:44] arigon opened #56 "Enforcer not initialized"
Hello

I am trying to get casbin.js working in ReactJS. I added the code as described in the example:

[code]

The response from the API:
![image](https://user-images.githubusercontent.com/11992526/115896207-77927c00-a45b-11eb-86e7-6db986b036e7.png)

The result is an error: _Unhandled Rejection (Error): Enforcer not initialized_

What am I missing?

Thanks
Alex

[2021-04-24 15:03] hsluoyz commented on #56
@Zxilly

[2021-04-25 03:12] Zxilly commented on #56
working on this

[2021-04-25 03:16] Zxilly commented on #56
@arigon please notice, `setUser()` return a Promise, please use `.then()` callback or `await`.

[2021-04-25 15:07] #56 closed

[2021-04-25 22:58] arigon opened #58 "Server response is already parsed json -> parsing it again fails"
Hello

in https://github.com/casbin/casbin.js/blob/ca5343cffa4b059c7a7d9b07afe72064658b9000/src/Authorizer.ts#L88 json.parse is called on an already parsed object. Axios is already parsing a result json into an object because it's a feature: "Automatic transforms for JSON data"

Therefore, the use of this library fails with: _Unexpected token o in JSON at position 1_

Solution:
Either set the Axio

[2021-04-26 02:05] hsluoyz commented on #58
@arigon can you make a PR to fix it?

[2021-04-26 02:47] hsluoyz commented on #58
@Zxilly

[2021-04-27 07:33] GhostyJade commented on #54
I've decided for now to integrate casbin using the manual approach, since it works without any issues.
I think that I can close this issue.

[2021-04-27 07:33] #54 closed

[2021-04-27 23:20] arigon commented on #58
It's not working. The result is undefined.

[2021-04-28 01:27] hsluoyz commented on #58
@Zxilly

[2021-04-28 02:53] Zxilly commented on #58
@arigon Sorry, I got the reason wrong.
In fact, the default auto mode assume the endpoint server respond something like:
[code]
This is a undocument behavior. I will add this later.

[2021-04-28 06:10] hsluoyz commented on #58
@Zxilly plz add to docs now: https://github.com/casbin/casbin-website

[2021-04-28 06:26] hsluoyz commented on #58
@arigon can you make a PR to fix this issue?

[2021-04-28 15:06] arigon commented on #58
I'm not familiar with TypeScript, sorry.

[2021-04-28 16:23] hsluoyz commented on #58
@Zxilly

[2021-05-05 20:04] bohdan-snext opened #62 "TypeError: can't access property "toString", args[2] is undefined"
Hello
I am trying to get casbin.js (0.3.2) working in ReactJS. I added the code as described in the example:

[code]

The response from the API:
![Screen Shot 2021-05-05 at 1 02 36 PM](https://user-images.githubusercontent.com/51936902/117202151-56f2ec00-ada2-11eb-91dc-e2cfd4cc4595.png)

The result is an error: Uncaught (in promise) TypeError: can't access property "toString", args[2] is undefined

[2021-05-06 01:57] hsluoyz commented on #62
@Zxilly

[2021-05-06 04:48] Zxilly commented on #62
@bohdan-snext In fact, the default auto mode assume the endpoint server respond something like:
[code]
in json format.

[2021-05-06 05:00] bohdan-snext commented on #62
@Zxilly
There's the code for the endpoint server response:
[code]

[2021-05-06 06:35] Zxilly commented on #62
@bohdan-snext Could you please provide a minimal reproducible example? I think there's something wrong on `node-casbin`, but I failed to reproduce.

[2021-05-06 07:49] #58 closed

[2021-05-06 16:08] bohdan-snext commented on #62
@Zxilly
rbac-model.conf:
[code]
rbac-policy.csv:
[code]

Backend (NodeJs/Express):
[code]

Frontend:
[code]
Response from server (raw):
[code]

Error:
![Screen Shot 2021-05-06 at 9 07 53 AM](https://user-images.githubusercontent.com/51936902/117330465-937a2280-ae4a-11eb-81d4-1deb860275d7.png)

[2021-05-07 14:36] Zxilly commented on #62
@bohdan-snext
There seems some error in your code.
1. `p,[admin, /*, *, allow]` is not right. You should use something like `p,admin, /*, *, allow`
2. Your policy_definition is `p = sub, obj, act`, which means you should have there 3 variables, however, your have 4 in policies.
3. If you want to use RBAC with domain, you should define `role_definition` with `g = _, _, _`.
So your code results in u

[2021-05-07 17:54] bohdan-snext commented on #62
@Zxilly Thanks, let me check it.
One more quick question: `casbinJsGetPermissionForUser ` doesn't retrieve permissions for inherited roles, right?

[2021-05-08 00:45] Zxilly commented on #62
@bohdan-snext Yes, it used to process with user. As for now, it just sent the whole model and all policies.

[2021-05-08 03:34] hsluoyz commented on #62
Closed as resolved.

[2021-05-08 03:34] #62 closed

[2021-05-12 21:04] Kliton opened #66 "Golang backend ( CasbinJsGetPermissionForUser ) not working with casbin.js ( react )"
The problem is that `CasbinJsGetPermissionForUser` on backend reeturns this:

[code]

My policies are

[code]

My model is:
[code]

On frontend side ( react with casbin.js )
I'm doing this:

[code]

[code]

Why is not working?

[2021-05-13 01:44] hsluoyz commented on #66
@closetool @Zxilly plz do this together.

[2021-05-13 02:40] Zxilly commented on #66
@Kliton As for now, casbin.js is a wrapper of node-casbin. You can use node-casbin directly.

[2021-05-13 02:45] Kliton commented on #66
Ok i will try

[2021-05-27 02:24] hsluoyz opened #69 "Why the dependabot in this repo doesn't follow semantic-pr in title?"
This repo: https://github.com/casbin/casbin.js/pull/68

![image](https://user-images.githubusercontent.com/3787410/119756105-a1fdac00-bed5-11eb-99ad-8636666d850c.png)

Another repo: https://github.com/node-casbin/mongoose-adapter/pull/45

![image](https://user-images.githubusercontent.com/3787410/119756122-a924ba00-bed5-11eb-95b0-00b96b75609a.png)

[2021-05-27 02:24] hsluoyz commented on #69
@Zxilly

[2021-05-27 03:35] Zxilly commented on #69
@hsluoyz plz give me admin permission to this repo

[2021-05-27 03:53] hsluoyz commented on #69
@Zxilly granted

[2021-05-29 02:20] hsluoyz commented on #69
@Zxilly any progress?

[2021-06-03 01:19] hsluoyz opened #72 "Remove browser API (like window object) to support Server-Side Rendering (Node.js)"
See more details at: https://github.com/casbin/casbin.js/pull/70

[2021-06-03 01:54] robertomiddleware commented on #72
better #71 (some webpack builds fail anyways if #70 is merged instead) :)

[2021-06-03 01:59] #72 closed

[2021-06-08 03:31] MRGUOKING commented on #66
@Kliton I have saw the Official documents and source code of casbin.js. If you want to use "manual" model.  your permission style should like this
[code]
if you use "auto" model ,you should write like this
[code]
you can see the official document [](https://github.com/casbin/casbin.js)

This's my understanding. If there is any mistake ,please correct it

[2021-06-12 14:49] #69 closed

[2021-06-15 12:56] #25 closed

[2021-06-15 12:56] #66 closed

[2021-07-21 07:30] hsluoyz opened #126 "Fix NPM dependency registry error in CI"
All our recent CIs failed like: https://github.com/casbin/casbin.js/pull/122/checks?check_run_id=3120761219

![image](https://user-images.githubusercontent.com/3787410/126449232-f1d96ba0-89c6-4d51-86f2-61e7d62ccd63.png)

We need to changed to use YARN official registry: https://registry.yarnpkg.com

[2021-07-21 07:30] hsluoyz commented on #126
@Zxilly @Gabriel-403

[2021-07-21 07:32] Zxilly commented on #126
@hsluoyz A totally refactor has been in progress. Maybe there's no need to maintain these.

[2021-07-21 07:32] Gabriel-403 commented on #126
working on this

[2021-07-21 07:33] Gabriel-403 commented on #126
working on this

[2021-07-21 11:36] hsluoyz commented on #126
@Zxilly no, it's needed. Because there are still users.

[2021-07-22 14:11] hsluoyz commented on #126
Fixed by: https://github.com/casbin/casbin.js/commit/9e7adfe77a1d61de98057ef387ad4052325629fd

[2021-07-22 14:11] #126 closed

[2021-08-26 16:42] fahussain opened #177 "Dependency issues in Angualr"
I tried using casbin.js in my Angular project but it seems casbin is dependent on some core node.js modules, path stream and fs to be more specific. Angular 12 uses webpack 5 which does not allow core node.js modules to be included in a web app. I tried some workarounds but finally gave up since I found out that casbin.js does not support RBAC with domains as mentioned here https://github.com/casb

[2021-08-29 05:51] Gabriel-403 opened #181 "A simple and easy to use casbin.js library for Vue based"
Recently, I will package a Vue plug-in library that simply uses casbin. The design and use will refer to the implementation method of Vue router. We need a more concise, convenient and user-friendly parameter transmission method. I hope to listen to your opinions. These are some simple designs, which will be supplemented later

`import Vue from 'vue'
import { VueCasbin } from 'vue-casbin-v2.x'

Vu

[2021-08-29 05:54] Zxilly commented on #181
You can rewrite https://github.com/casbin-js/vue-authz.

[2021-08-29 06:02] Gabriel-403 commented on #181
@Zxilly
I know this, and I understand what you mean, but at present, its design idea is different from mine. However, it can indeed be used as a template, but I will roughly make many new things and functions. I also want to know the needs of users. We need to brainstorm.I'd like to hear from you，thanks！！！❤

[2021-08-29 06:12] Gabriel-403 commented on #181
@Zxilly I will develop on the vue-caspin-v2. X branch and support vue3 in the future，Refactoring adapts to the current new Casbin.js

[2021-08-29 06:19] Gabriel-403 commented on #181
@Zxilly I will develop on the vue-caspin-v2. X branch and support vue3 in the future，Refactoring adapts to the current new Casbin.js

[2021-09-16 15:41] abel30567 opened #203 "Documentation on different modes using Authorizer.can()"
When I use Authorizer.can() in `manual` mode it returns a `Boolean` while when using Authorizer.can() in `auto` mode it returns an `Array` containing whether or not the user has access.

Also would be great to have a sample response from the API that is needed to use this in `auto` mode.

[2021-09-16 15:43] Zxilly commented on #203
old casbin.js is no longer under matainered. You can find an active version at branch v1

[2021-09-16 17:03] #203 closed

[2021-09-22 17:30] JanakaSandaruwan opened #210 "can() returns an incorrect value"
I am using basic_model.conf and basic_policy.csv as follows.
[code]
[code]
Backend service is defined as follows.
[code]
   In my react application, I uses

[code]
  For user alice can read data1 according to the model. However, `authorizer.can("read", "data1")` returns `false` which is incorrect.

[2021-09-23 04:05] JanakaSandaruwan commented on #210
This is resolved after upgrading the package version

[2021-09-23 04:05] #210 closed

[2021-09-23 05:28] JanakaSandaruwan commented on #16
@kingiw Is there a way to avoid pulling all the policies from the backend when using casbin.js

[2021-09-23 06:00] hsluoyz commented on #16
@Zxilly @Gabriel-403 @nodece

[2021-09-23 06:09] Zxilly commented on #16
@JanakaSandaruwan Casbin supports flexible grammar, we were unable to find a sufficiently robust implementation.
The current design has been abandoned and casbin.js will become a standalone cross-platform permission control library in the future. You can track the progress at `v1` branch.

[2021-09-27 05:39] JanakaSandaruwan opened #212 "CasbinJsGetPermissionForUser api is supported in jcasbin"
Need to know whether `CasbinJsGetPermissionForUser` is supported in `jcasbin`?

[2021-09-27 06:26] Zxilly commented on #212
will not support

[2021-09-27 06:27] JanakaSandaruwan commented on #212
@Zxilly We can't use casbin.js if we use jcasbin as the backend service?

[2021-09-27 06:33] Zxilly commented on #212
@JanakaSandaruwan As for now, CasbinJsGetPermissionForUser will send the model and all policies to the frontend. We believe this is insecure and not reliable. Old `casbin.js` won't get further update, and we are working on a new version `casbin.js` at v1 branch.

[2021-11-24 08:32] cdz620 opened #242 "[frontend] casbinjs.Authorizer is not a constructor"
I use casbin.js in my frontend project.

I follow the docs: https://casbin.org/docs/en/frontend#advanced-usage. It occur error when I initialize casbinjs.Authorizer.
code:
[code]
error:
[code]

[2021-11-24 08:40] cdz620 commented on #242
close the issue, because I found the project:   https://github.com/casbin-js/vue-authz

[2021-11-24 08:42] cdz620 commented on #242
It seems the doc was out

[2021-11-24 08:42] #242 closed

[2021-11-24 15:26] KyleHassettStrongarm opened #243 "CasbinJsGetPermissionForUser support in pycasbin"
Support for CasbinJsGetPermissionForUser with the pyscasbin package would be a game changer.

Filing this ticket for exactly that.

[2021-12-06 11:22] hsluoyz commented on #15
@nodece @Zxilly has this issue been done already?

[2021-12-08 02:37] nodece commented on #15
Currently, we migrate node-casbin to casbin.js, you can use all features from node-casbin.

[2021-12-08 05:21] hsluoyz commented on #15
@nodece can this issue be closed?

[2021-12-08 05:57] nodece commented on #15
maybe we need to waiting for the user's response.

[2021-12-13 15:56] hsluoyz commented on #181
Closed as stale.

[2021-12-13 15:56] #181 closed

[2022-03-08 14:58] giovanni-bertoncelli commented on #177
I have the same issue here. The `next` release is not platform indipendent.

[2022-03-08 15:27] hsluoyz commented on #177
@nodece

[2022-03-08 15:29] nodece commented on #177
Can't `casbin.js@next` solve this?

[2022-03-17 16:30] danverde commented on #15
So just to clarify, Casbin.js still doesn't support ABAC?

[2022-03-18 01:54] hsluoyz commented on #15
@nodece

[2022-03-18 22:53] danverde commented on #177
Experiencing the same thing. Here's a repo: https://github.com/danverde/CasbinJS-React
I did make sure to install `casbinjs@next`. Looks like it ended up installing 1.0.0, rather than 1.0.1 that I got by installing `casbin.js`

[2022-03-19 00:42] hsluoyz commented on #177
@nodece

[2022-03-19 05:08] nodece commented on #177
Thanks @danverde, I know how to resolve it.

[2022-03-19 12:18] nodece commented on #15
@danverde Yes. Currently, using node-casbin is enough, I'm working on node-casbin, you can use the `casbin@next` in any JavaScript project.

[2022-03-19 12:24] nodece commented on #177
Because we are incorrect design, this version is confusing, we are decided to improve the `node-casbin` repo, the next version casbin has been released, the `casbin@next` can be available on NPM.

but this version number is incorrect, should be `6.0.0-beta.x`, not `5.14.0-beta.x`. This version is working on React, and Ng.

[2022-03-21 14:23] danverde commented on #177
@nodece  So I need to use version `6.0.0-beta.x` of the `node-casbin` repo rather than the `casbin.js` repo? or is/will there be a release of `casbin.js` build off the correct version of `node-casbin`?

[2022-03-21 15:13] nodece commented on #177
Yes, you can install this by `yarn add casbin@next`, then select the `5.14.0-beta.3`.

We don't continue to release the casbin.js to instead of node-casbin.

[2022-03-21 16:10] danverde commented on #177
Installing `casbin@next` doesn't work:
![image](https://user-images.githubusercontent.com/19293059/159302309-1bbc9270-8d72-47fb-8563-d6e2cf56e05e.png)

And `node-casbin 5.14.0-beta.3` doesn't work in the browser either. It throws the same error I got when trying to run `casbin.js`

[2022-03-21 21:47] danverde commented on #177
I was able to get `casbin.js` running by ejecting the react project and then updating the webpack config file to disable source maps for `node_modules` and disabling the polyfill for `path`.

[2022-03-21 22:59] armr-dev opened #261 "Authorizer is not exported"
So, I just updated my Casbin.js version from `0.4.0` to `1.0.1` and I've run into the following error:
[code]

It seems that the `Authorizer` class is not being exported anymore. I looked into the docs (here in Github and in the Casbin website), and both still cites the `Authorizer` on how to use the lib.

Was the `Authorizer` removal by design or is this a bug?

### Steps to reproduce the error
1

[2022-03-22 00:48] hsluoyz commented on #261
@nodece

[2022-03-22 00:49] hsluoyz commented on #177
@nodece

[2022-03-22 02:22] nodece commented on #177
Sorry, `casbin@beta` is correct.

[2022-03-22 02:23] nodece commented on #177
Could you provide the log that doesn't work in the browser?

[2022-03-25 13:20] GhostyJade commented on #261
I've noticed the absence of the Authorizer export too when trying to upgrade from 0.4.0 to latest (in order to upgrade my project to use react-scripts@5.0.0).
Without the Authorizer export I can't use the newer version with less missing polyfills, with the 0.4.0 one the project doesn't start at all.

[2022-03-26 01:31] #52 closed

[2022-03-26 02:49] hsluoyz commented on #261
@armr-dev @GhostyJade Casbin.js v1.x has been deprecated, please use latest v0.4.1 instead: https://github.com/casbin/casbin.js/releases/tag/v0.4.1

[2022-03-26 02:49] #261 closed

[2022-03-26 02:50] #177 closed

[2022-03-28 07:46] GhostyJade opened #268 "casbin.js v0.4.1 not working with react-scripts 5"
Hi.
Long story short, I need to update my project's react-scripts from v4 to v5.
The issue is that the casbin.js package throws an atrocious list of errors saying that lots of modules that webpack exported in v4 no longer are exported in v5 and breaks everything.

In particular, fs, buffer, stream (from csv-parser dependency in your casbin package), path (from casbin's picomatch package dependency

[2022-03-28 09:04] hsluoyz commented on #268
@nodece @kingiw

[2022-03-28 14:45] armr-dev commented on #261
This solved the issue. Thank you!

[2022-04-24 06:10] hsluoyz commented on #268
@keyuzhen

[2022-07-01 01:06] ferifahrul7 commented on #268
any news?

[2022-07-01 07:04] GhostyJade commented on #268
@ferifahrul7 no, not from casbin manteiners.
My team has decided not to use casbin.js anymore and use casl instead. We are also working to implement our custom permission management for our backend infrastructure.

[2022-07-01 07:15] hsluoyz commented on #268
@Shivansh-yadav13 plz work on this

/cc @nodece @Zxilly

[2022-10-25 02:51] sukhtulgaotgonbayar opened #270 "Module not found: Can't resolve 'fs'"
![image](https://user-images.githubusercontent.com/115963105/197670424-a92fbf47-adeb-4837-b693-09f5c4fa1fce.png)

I'm using it on Next.js as port of a backend Casbin service. But its gives me this error.
Maybe it is from the Webpack settings?

[2022-11-11 11:43] pnvasko commented on #270
Try look here https://github.com/casbin/node-casbin/issues/386